<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta name="description" content="" />
   <meta name="author" content="" />
   <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
   <title>Electro Admin</title>
   <!-- BOOTSTRAP CORE STYLE  -->
   <link href="stylesheets/bootstrap.css" rel="stylesheet" />
   <!-- FONT AWESOME STYLE  -->
   <link href="stylesheets/font-awesome.css" rel="stylesheet" />
   <!-- DATATABLE STYLE  -->
   <link href="javascripts/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
   <!-- CUSTOM STYLE  -->
   <link href="stylesheets/style.css" rel="stylesheet" />
   <!-- GOOGLE FONT -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <!-- ICON -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
   <style>
   .lock{
      margin-left: 80px;
   }
   </style>
</head>

<body>
   <%- include('../partials/header.ejs') %>

   <!-- MENU SECTION END-->
   <div class="content-wrapper">
      <div class="container">
         <div class="row pad-botm">
            <div class="col-md-12">
               <h4 class="header-line">QUẢN LÝ NGƯỜI DÙNG</h4>
            </div>

         </div>
         <div class="row">
            <div class="col-md-12">
               <!-- Advanced Tables -->
               <div class="panel">
                  <div class="panel-heading header-panel">
                     Danh sách người dùng
                  </div>
                  <div class="panel-body">
                     <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                           <thead>
                              <tr>
                                 <th class="style-middle-center">STT</th>
                                 <th class="style-middle-center">Mã người dùng</th>
                                 <th class="style-middle-center">Họ Tên</th>
                                 <th class="style-middle-center">Địa chỉ</th>
                                 <th class="style-middle-center">Số điện thoại</th>
                                 <th class="style-middle-center">Chức năng</th>
                              </tr>
                           </thead>
                           <tbody>
                              <%var i = 1%>
                              <% users.forEach((entry) => { %>
                              <tr>
                                 <td class="style-middle-center"><%=i %></td>
                                 <td class="style-middle-center user-name" id="name_id"><%= entry._id %></td>
                                 <td class="style-middle-center user-name" id="name_user"><%= entry.name %></td>
                                 <td class="style-middle-center user-address" id="address_user"><%= entry.address%></td>
                                 <td class="style-middle-center user-phone" id="phone_user"><%= entry.phone%></td>
                                 </td>
                                 <td class="style-middle-center">
                                    <button class="btn btn-outline-primary btn-edit-customer" type="button"
                                       data-toggle="modal" data-target="#myModal" data-id="<%= entry._id %>">
                                       <i class="fa fa-edit"></i>
                                    </button>

                                    <a class="btn btn-outline-primary btn-delete-user <%if (entry.role == 1){%> disabled <%}%>" type="button"
                                       href="/user/delete/<%= entry._id %>">
                                       <i class="far fa-trash-alt"></i></a>
                                    <a href="/user/autho?id=<%= entry._id %>" id="btn_authorization_admin"
                                       class="btn btn-primary" <%if (entry.role == 1){%> disabled <%}%>> Cấp quyền admin</a>
                                    <a href="/user/lock?id=<%= entry._id %>" 
                                       class="btn btn-primary lock"  
                                       <%if (entry.role == 1){%> disabled <%}%>
                                       <%if (entry.locked == 1){%> disabled <%}%> > Khóa</a>
                                    <a href="/user/unlock?id=<%= entry._id %>" 
                                       class="btn btn-primary" <%if (entry.role == 1){%> disabled <%}%>
                                       <%if (entry.locked == 0 ){%> disabled <%}%> > Mở khóa</a>
                                 </td>
                              </tr>
                              <% i++; }) %>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <!--End Advanced Tables -->
            </div>
         </div>

         <!-- /. ROW  -->
      </div>
   </div>
   <!-- CONTENT-WRAPPER SECTION END-->
   <%- include('../partials/footer.ejs') %>


   <!-- Phần form hiển thị để sửa thông tin -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
      style="display: none;">
      <form method="POST" action="/user/edit">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header header-panel">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">Chỉnh sửa thông tin người dùng 
                  </h4>
               </div>
               <div class="modal-body">
                  <div class="col-md-12 col-log-12">
                     <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-form-label">Họ tên</label>
                        <div class="col-lg-10 col-md-10">
                           <input class="form-control ng-untouched ng-pristine ng-valid name" type="text" id="txt-name"
                              name="name" required>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-form-label">Địa chỉ</label>
                        <div class="col-lg-10 col-md-10">
                           <input class="form-control ng-pristine ng-valid ng-touched address" type="text"
                              id="txt-address" name="address" required>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-form-label">Số điện thoại</label>
                        <div class="col-lg-10 col-md-10">
                           <input class="form-control ng-pristine ng-valid ng-touched phone" type="number"
                              id="txt-phone" name="phone" required>
                           <input type="text" name='id' id="txt-user-id"
                              style="height: 0px; width: 0px; visibility: hidden;">
                        </div>
                     </div>

                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                  <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
               </div>
            </div>
         </div>
      </form>
   </div>
   <!-- FOOTER SECTION END-->
   <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
   <!-- CORE JQUERY  -->
   <script src="javascripts/jquery-1.10.2.js"></script>
   <!-- BOOTSTRAP SCRIPTS  -->
   <script src="javascripts/bootstrap.js"></script>
   <!-- DATATABLE SCRIPTS  -->
   <script src="javascripts/dataTables/jquery.da
    taTables.js"></script>
   <script src="javascripts/dataTables/dataTables.bootstrap.js"></script>
   <!-- CUSTOM SCRIPTS  -->
   <script src="javascripts/custom.js"></script>

   <script>
      $(".btn-edit-customer").click(function () {
         var id = $(this).data('id');
         
         $("#my-form").attr('action', '/user/edit?id=' + id);
         var name = $(this).parent().parent().find('#name_user').text();
         var address = $(this).parent().parent().find('#address_user').text();
         var phone = $(this).parent().parent().find('#phone_user').text();

         $('#txt-name').attr('value', name);
         $('#txt-address').attr('value', address);
         $('#txt-phone').attr('value', phone);
         $('#txt-user-id').attr('value', id);
      })

      

        // $("#btn_authorization_admin").click(function(){
        //     var id = $(this).data('id');
        //     $("#my-form").attr('action', '/user/autho?id=' + id);
        //     var name = $(this).parent().parent().find('#name_user').text();
        //     var address = $(this).parent().parent().find('#address_user').text();
        //     var phone = $(this).parent().parent().find('#phone_user').text();

        // })
   </script>
</body>

</html>